html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	margin: 0 auto;
}

fieldset {
	padding: 10px 10px 4px 10px;
}

fieldset ul, fieldset li{
	border:0; margin:0; padding:0; list-style:none;
}
fieldset li {
	list-style:none;
	padding-bottom:6px;
	overflow: hidden;
}

.horizontalField {
	overflow:hidden;
	width: 380px;
}

.horizontalField > span, .horizontalField > label{
	float: left;
	width: 50%;
}

.horizontalField > input, .horizontalField > select, .horizontalField > div, .horizontalField > ul  {
	float: left;
	width: 48%;
}
.horizontalField > select > div {
	overflow: hidden;
}

.verticalField {
	overflow:hidden;
	width: 380px;
	text-align:center;
}

.verticalField > span, .verticalField > label {
	width: 100%;
	float:left;
	margin-bottom: 4px;
}

.verticalField > div, .verticalField > input, .verticalField > select  {
}

.timeField {
	text-align: center;
}

.timeField span {
	font-size: 12px;
}

.timeField ul {
}

.timeField li {
	float:left;
}

.timeField input {
	width: 26px;
}

.closeButton {
	cursor:pointer;
	background-color: #000000;
  float: right;
  height: 20px;
  width: 20px;
}

.submitButton {
	padding: 4px 10px;
}

.deleteButton {
	padding: 4px 10px;
}

.hours {
	padding-top: 36px;
	float:left;
	list-style-type: none;
}

.hours > .hour {
	background-color: #CCC;
	padding: 5px 10px;
	text-align: center;
}

.hours > .hour > span {
	font-size: 10px;
	font-family: monospace;
}

.weekDaysTasks{
	float: left;	
}

.daysOfWeek {
	list-style-type: none;
	overflow: hidden;
}

.tasksDisplay {
	position: relative;	
}

.daysOfWeek .dayOfWeek {
	width: 100px;
	height: 25px;
	display: block;
	float: left;
	background-color: #F8F8FF;
	padding: 5px;
	text-align: center;
}

.daysOfWeek .dayOfWeek span {
	text-transform:none;
	color: #222;
	font-family: monospace;
	font-size: 12px;
}

.scheduleDisplay{
	clear: both;	
}

.menu{
	margin: 10px;
	overflow: hidden;
}

.menu ul{
	list-style-type: none;	
}

.menu ul li{
	float: left;
	margin: 0 5px;
}

.schedule {
	overflow:hidden;
	margin: 0 auto;
}

.task {
	position: absolute;
	display: table;
	text-align: center;
	cursor: pointer;
}

.taskBorder {
	border: 4px solid;
}

.task > span {
	vertical-align: middle;
	display: table-cell;
	font-size: 11px;
	font-family: monospace;
	font-weight: bold;
	color: #222;
}

.backgroundFloatingWindow{
	position: fixed;
	background-color: rgba(0,0,0,0.35);
	display:none;
	z-index: 100;
	top:0;
	left:0;	
	width: 100%;
	height: 100%;	
}

.floatingWindow {
	position: absolute;
	top:50%;
	left: 50%;
	padding: 10px;
	background-color: white;	
}

.headFloatingWindow {
	padding: 10px;
	overflow: hidden;
}

.bodyFloatingWindow {
	padding: 10px;
}

.tasksMenu{
	overflow: hidden;
	margin: 10px;
	width: 50%;
	float: left;
}

.additionalTagMenu{
	overflow: hidden;
	margin: 10px;
	float:left;
}

.elementButton {
	cursor: pointer;
	width: 30px;
	height: 30px;
	float:left;
}

.divButtons{
	width: 15px;
	height: 30px;
	float:left;
}

.addElementButton {
	cursor: pointer;
	height: 15px;
	background-color: #999999;
}

.deleteElementButton {
	cursor: pointer;
	height: 15px;
	background-color: #444444;
}

.borderT {
	border-top: solid 1px;
}

.borderB {
	border-bottom: solid 1px;
}

.borderL {
	border-left: solid 1px;
}

.borderR {
	border-right: solid 1px;
}

.borderColor {
	border-color: #DDD;
}
